extends layout

block content
  - let ores = results
  div(class="container-fluid")
    div(class="row m-1")
      each item in ores 
        - let destination = `dispatch("/ores/update?id=${item._id}")`
        div(class="row-sm-2 m-1") 
          | Item #{item.ore_name}(#{item.quality_level}) is #{item.quantity_available}
          button.btn(class="btn-primary ml-1", onclick=destination) Update
    .container-fluid
      .row
        each ore, index in ores
          .col-sm
            .ore(onclick=`buy('${index}')`)
              h1 #{ore.ore_name}
              p Quality Level: #{ore.quality_level}
              p Quantity Available: #{ore.quantity_available}
          .col-sm-2
            p Ore Name: #{ore.ore_name}
            p Quality Level: #{ore.quality_level}
            p Quantity Available: #{ore.quantity_available}
            button.btn(class="btn-primary ml-1") Update
            button.btn(class="btn-danger ml-1") Delete
            button.btn(class="btn-info ml-1") Inspect
  script.
    function dispatch(path){
      window.location.href=path
    }
  script.
    function buy(index) {
      alert("You purchased item " + index);
    }
